backend/node_modules/
backend/package-lock.json
backend/.vscode/launch.json

web/node_modules/
web/package-lock.json
web/.vscode/launch.json

mobile/node_modules/
mobile/package-lock.json
mobile/.vscode/launch.json
